!!!
%html{html_attrs}
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    %title= @title
    %link{ :href => "/stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:src => "/javascripts/site.js"}
  %body
    #header.grid-container
      #branding.grid-3.grid-suffix-1
        %p Branding
      #navigation.grid-7.grid-push-1
        %p Navigation
    #page.grid-container
      #page-body.grid-8
        %p Body
      #page-sidebar.grid-4
        %p Sidebar
    #footer.grid-container
      #footer-content.grid-full
        %p Footer