@import url(reset.css);
.font-helvetica, body {
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

.grid-pie-clearfix, .grid-container, .nested-grid-container, .grid-block, .grid-full, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  *zoom: 1;
}
.grid-pie-clearfix:after, .grid-container:after, .nested-grid-container:after, .grid-block:after, .grid-full:after, .grid-1:after, .grid-2:after, .grid-3:after, .grid-4:after, .grid-5:after, .grid-6:after, .grid-7:after, .grid-8:after, .grid-9:after, .grid-10:after, .grid-11:after, .grid-12:after {
  content: "";
  display: table;
  clear: both;
}

.grid-container {
  margin: 0 auto;
  width: 960px;
}

.nested-grid-container {
  display: inline-block;
  margin-left: -10px;
  margin-right: -10px;
  width: auto;
}

.grid-block, .grid-full, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  position: relative;
  margin: 0 10px;
}

.grid-full {
  width: 940px;
}

.grid-1 {
  width: 60px;
}

.grid-2 {
  width: 140px;
}

.grid-3 {
  width: 220px;
}

.grid-4 {
  width: 300px;
}

.grid-5 {
  width: 380px;
}

.grid-6 {
  width: 460px;
}

.grid-7 {
  width: 540px;
}

.grid-8 {
  width: 620px;
}

.grid-9 {
  width: 700px;
}

.grid-10 {
  width: 780px;
}

.grid-11 {
  width: 860px;
}

.grid-12 {
  width: 940px;
}

.grid-prefix-1 {
  margin-left: 90px;
}

.grid-prefix-2 {
  margin-left: 170px;
}

.grid-prefix-3 {
  margin-left: 250px;
}

.grid-prefix-4 {
  margin-left: 330px;
}

.grid-prefix-5 {
  margin-left: 410px;
}

.grid-prefix-6 {
  margin-left: 490px;
}

.grid-prefix-7 {
  margin-left: 570px;
}

.grid-prefix-8 {
  margin-left: 650px;
}

.grid-prefix-9 {
  margin-left: 730px;
}

.grid-prefix-10 {
  margin-left: 810px;
}

.grid-prefix-11 {
  margin-left: 890px;
}

.grid-suffix-1 {
  margin-right: 90px;
}

.grid-suffix-2 {
  margin-right: 170px;
}

.grid-suffix-3 {
  margin-right: 250px;
}

.grid-suffix-4 {
  margin-right: 330px;
}

.grid-suffix-5 {
  margin-right: 410px;
}

.grid-suffix-6 {
  margin-right: 490px;
}

.grid-suffix-7 {
  margin-right: 570px;
}

.grid-suffix-8 {
  margin-right: 650px;
}

.grid-suffix-9 {
  margin-right: 730px;
}

.grid-suffix-10 {
  margin-right: 810px;
}

.grid-suffix-11 {
  margin-right: 890px;
}

.grid-push-1 {
  left: 80px;
}

.grid-push-2 {
  left: 160px;
}

.grid-push-3 {
  left: 240px;
}

.grid-push-4 {
  left: 320px;
}

.grid-push-5 {
  left: 400px;
}

.grid-push-6 {
  left: 480px;
}

.grid-push-7 {
  left: 560px;
}

.grid-push-8 {
  left: 640px;
}

.grid-push-9 {
  left: 720px;
}

.grid-push-10 {
  left: 800px;
}

.grid-push-11 {
  left: 880px;
}

.grid-pull-1 {
  left: -40px;
}

.grid-pull-2 {
  left: -80px;
}

.grid-pull-3 {
  left: -120px;
}

.grid-pull-4 {
  left: -160px;
}

.grid-pull-5 {
  left: -200px;
}

.grid-pull-6 {
  left: -240px;
}

.grid-pull-7 {
  left: -280px;
}

.grid-pull-8 {
  left: -320px;
}

.grid-pull-9 {
  left: -360px;
}

.grid-pull-10 {
  left: -400px;
}

.grid-pull-11 {
  left: -440px;
}

#grid {
  background-image: -webkit-gradient(linear, 0% 50%, 970 50%, color-stop(1.031%, rgba(255, 0, 0, 0)), color-stop(1.031%, rgba(255, 0, 0, 0.05)), color-stop(7.216%, rgba(255, 0, 0, 0.05)), color-stop(7.216%, rgba(255, 0, 0, 0)), color-stop(9.278%, rgba(255, 0, 0, 0)), color-stop(9.278%, rgba(255, 0, 0, 0.05)), color-stop(15.464%, rgba(255, 0, 0, 0.05)), color-stop(15.464%, rgba(255, 0, 0, 0)), color-stop(17.526%, rgba(255, 0, 0, 0)), color-stop(17.526%, rgba(255, 0, 0, 0.05)), color-stop(23.711%, rgba(255, 0, 0, 0.05)), color-stop(23.711%, rgba(255, 0, 0, 0)), color-stop(25.773%, rgba(255, 0, 0, 0)), color-stop(25.773%, rgba(255, 0, 0, 0.05)), color-stop(31.959%, rgba(255, 0, 0, 0.05)), color-stop(31.959%, rgba(255, 0, 0, 0)), color-stop(34.021%, rgba(255, 0, 0, 0)), color-stop(34.021%, rgba(255, 0, 0, 0.05)), color-stop(40.206%, rgba(255, 0, 0, 0.05)), color-stop(40.206%, rgba(255, 0, 0, 0)), color-stop(42.268%, rgba(255, 0, 0, 0)), color-stop(42.268%, rgba(255, 0, 0, 0.05)), color-stop(48.454%, rgba(255, 0, 0, 0.05)), color-stop(48.454%, rgba(255, 0, 0, 0)), color-stop(50.515%, rgba(255, 0, 0, 0)), color-stop(50.515%, rgba(255, 0, 0, 0.05)), color-stop(56.701%, rgba(255, 0, 0, 0.05)), color-stop(56.701%, rgba(255, 0, 0, 0)), color-stop(58.763%, rgba(255, 0, 0, 0)), color-stop(58.763%, rgba(255, 0, 0, 0.05)), color-stop(64.948%, rgba(255, 0, 0, 0.05)), color-stop(64.948%, rgba(255, 0, 0, 0)), color-stop(67.01%, rgba(255, 0, 0, 0)), color-stop(67.01%, rgba(255, 0, 0, 0.05)), color-stop(73.196%, rgba(255, 0, 0, 0.05)), color-stop(73.196%, rgba(255, 0, 0, 0)), color-stop(75.258%, rgba(255, 0, 0, 0)), color-stop(75.258%, rgba(255, 0, 0, 0.05)), color-stop(81.443%, rgba(255, 0, 0, 0.05)), color-stop(81.443%, rgba(255, 0, 0, 0)), color-stop(83.505%, rgba(255, 0, 0, 0)), color-stop(83.505%, rgba(255, 0, 0, 0.05)), color-stop(89.691%, rgba(255, 0, 0, 0.05)), color-stop(89.691%, rgba(255, 0, 0, 0)), color-stop(91.753%, rgba(255, 0, 0, 0)), color-stop(91.753%, rgba(255, 0, 0, 0.05)), color-stop(97.938%, rgba(255, 0, 0, 0.05)), color-stop(97.938%, rgba(255, 0, 0, 0)), color-stop(100%, rgba(255, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0) 10px, rgba(255, 0, 0, 0.05) 10px, rgba(255, 0, 0, 0.05) 70px, rgba(255, 0, 0, 0) 70px, rgba(255, 0, 0, 0) 90px, rgba(255, 0, 0, 0.05) 90px, rgba(255, 0, 0, 0.05) 150px, rgba(255, 0, 0, 0) 150px, rgba(255, 0, 0, 0) 170px, rgba(255, 0, 0, 0.05) 170px, rgba(255, 0, 0, 0.05) 230px, rgba(255, 0, 0, 0) 230px, rgba(255, 0, 0, 0) 250px, rgba(255, 0, 0, 0.05) 250px, rgba(255, 0, 0, 0.05) 310px, rgba(255, 0, 0, 0) 310px, rgba(255, 0, 0, 0) 330px, rgba(255, 0, 0, 0.05) 330px, rgba(255, 0, 0, 0.05) 390px, rgba(255, 0, 0, 0) 390px, rgba(255, 0, 0, 0) 410px, rgba(255, 0, 0, 0.05) 410px, rgba(255, 0, 0, 0.05) 470px, rgba(255, 0, 0, 0) 470px, rgba(255, 0, 0, 0) 490px, rgba(255, 0, 0, 0.05) 490px, rgba(255, 0, 0, 0.05) 550px, rgba(255, 0, 0, 0) 550px, rgba(255, 0, 0, 0) 570px, rgba(255, 0, 0, 0.05) 570px, rgba(255, 0, 0, 0.05) 630px, rgba(255, 0, 0, 0) 630px, rgba(255, 0, 0, 0) 650px, rgba(255, 0, 0, 0.05) 650px, rgba(255, 0, 0, 0.05) 710px, rgba(255, 0, 0, 0) 710px, rgba(255, 0, 0, 0) 730px, rgba(255, 0, 0, 0.05) 730px, rgba(255, 0, 0, 0.05) 790px, rgba(255, 0, 0, 0) 790px, rgba(255, 0, 0, 0) 810px, rgba(255, 0, 0, 0.05) 810px, rgba(255, 0, 0, 0.05) 870px, rgba(255, 0, 0, 0) 870px, rgba(255, 0, 0, 0) 890px, rgba(255, 0, 0, 0.05) 890px, rgba(255, 0, 0, 0.05) 950px, rgba(255, 0, 0, 0) 950px, rgba(255, 0, 0, 0) 970px);
  background-image: -moz-linear-gradient(left, rgba(255, 0, 0, 0) 10px, rgba(255, 0, 0, 0.05) 10px, rgba(255, 0, 0, 0.05) 70px, rgba(255, 0, 0, 0) 70px, rgba(255, 0, 0, 0) 90px, rgba(255, 0, 0, 0.05) 90px, rgba(255, 0, 0, 0.05) 150px, rgba(255, 0, 0, 0) 150px, rgba(255, 0, 0, 0) 170px, rgba(255, 0, 0, 0.05) 170px, rgba(255, 0, 0, 0.05) 230px, rgba(255, 0, 0, 0) 230px, rgba(255, 0, 0, 0) 250px, rgba(255, 0, 0, 0.05) 250px, rgba(255, 0, 0, 0.05) 310px, rgba(255, 0, 0, 0) 310px, rgba(255, 0, 0, 0) 330px, rgba(255, 0, 0, 0.05) 330px, rgba(255, 0, 0, 0.05) 390px, rgba(255, 0, 0, 0) 390px, rgba(255, 0, 0, 0) 410px, rgba(255, 0, 0, 0.05) 410px, rgba(255, 0, 0, 0.05) 470px, rgba(255, 0, 0, 0) 470px, rgba(255, 0, 0, 0) 490px, rgba(255, 0, 0, 0.05) 490px, rgba(255, 0, 0, 0.05) 550px, rgba(255, 0, 0, 0) 550px, rgba(255, 0, 0, 0) 570px, rgba(255, 0, 0, 0.05) 570px, rgba(255, 0, 0, 0.05) 630px, rgba(255, 0, 0, 0) 630px, rgba(255, 0, 0, 0) 650px, rgba(255, 0, 0, 0.05) 650px, rgba(255, 0, 0, 0.05) 710px, rgba(255, 0, 0, 0) 710px, rgba(255, 0, 0, 0) 730px, rgba(255, 0, 0, 0.05) 730px, rgba(255, 0, 0, 0.05) 790px, rgba(255, 0, 0, 0) 790px, rgba(255, 0, 0, 0) 810px, rgba(255, 0, 0, 0.05) 810px, rgba(255, 0, 0, 0.05) 870px, rgba(255, 0, 0, 0) 870px, rgba(255, 0, 0, 0) 890px, rgba(255, 0, 0, 0.05) 890px, rgba(255, 0, 0, 0.05) 950px, rgba(255, 0, 0, 0) 950px, rgba(255, 0, 0, 0) 970px);
  background-image: -o-linear-gradient(left, rgba(255, 0, 0, 0) 10px, rgba(255, 0, 0, 0.05) 10px, rgba(255, 0, 0, 0.05) 70px, rgba(255, 0, 0, 0) 70px, rgba(255, 0, 0, 0) 90px, rgba(255, 0, 0, 0.05) 90px, rgba(255, 0, 0, 0.05) 150px, rgba(255, 0, 0, 0) 150px, rgba(255, 0, 0, 0) 170px, rgba(255, 0, 0, 0.05) 170px, rgba(255, 0, 0, 0.05) 230px, rgba(255, 0, 0, 0) 230px, rgba(255, 0, 0, 0) 250px, rgba(255, 0, 0, 0.05) 250px, rgba(255, 0, 0, 0.05) 310px, rgba(255, 0, 0, 0) 310px, rgba(255, 0, 0, 0) 330px, rgba(255, 0, 0, 0.05) 330px, rgba(255, 0, 0, 0.05) 390px, rgba(255, 0, 0, 0) 390px, rgba(255, 0, 0, 0) 410px, rgba(255, 0, 0, 0.05) 410px, rgba(255, 0, 0, 0.05) 470px, rgba(255, 0, 0, 0) 470px, rgba(255, 0, 0, 0) 490px, rgba(255, 0, 0, 0.05) 490px, rgba(255, 0, 0, 0.05) 550px, rgba(255, 0, 0, 0) 550px, rgba(255, 0, 0, 0) 570px, rgba(255, 0, 0, 0.05) 570px, rgba(255, 0, 0, 0.05) 630px, rgba(255, 0, 0, 0) 630px, rgba(255, 0, 0, 0) 650px, rgba(255, 0, 0, 0.05) 650px, rgba(255, 0, 0, 0.05) 710px, rgba(255, 0, 0, 0) 710px, rgba(255, 0, 0, 0) 730px, rgba(255, 0, 0, 0.05) 730px, rgba(255, 0, 0, 0.05) 790px, rgba(255, 0, 0, 0) 790px, rgba(255, 0, 0, 0) 810px, rgba(255, 0, 0, 0.05) 810px, rgba(255, 0, 0, 0.05) 870px, rgba(255, 0, 0, 0) 870px, rgba(255, 0, 0, 0) 890px, rgba(255, 0, 0, 0.05) 890px, rgba(255, 0, 0, 0.05) 950px, rgba(255, 0, 0, 0) 950px, rgba(255, 0, 0, 0) 970px);
  background-image: -ms-linear-gradient(left, rgba(255, 0, 0, 0) 10px, rgba(255, 0, 0, 0.05) 10px, rgba(255, 0, 0, 0.05) 70px, rgba(255, 0, 0, 0) 70px, rgba(255, 0, 0, 0) 90px, rgba(255, 0, 0, 0.05) 90px, rgba(255, 0, 0, 0.05) 150px, rgba(255, 0, 0, 0) 150px, rgba(255, 0, 0, 0) 170px, rgba(255, 0, 0, 0.05) 170px, rgba(255, 0, 0, 0.05) 230px, rgba(255, 0, 0, 0) 230px, rgba(255, 0, 0, 0) 250px, rgba(255, 0, 0, 0.05) 250px, rgba(255, 0, 0, 0.05) 310px, rgba(255, 0, 0, 0) 310px, rgba(255, 0, 0, 0) 330px, rgba(255, 0, 0, 0.05) 330px, rgba(255, 0, 0, 0.05) 390px, rgba(255, 0, 0, 0) 390px, rgba(255, 0, 0, 0) 410px, rgba(255, 0, 0, 0.05) 410px, rgba(255, 0, 0, 0.05) 470px, rgba(255, 0, 0, 0) 470px, rgba(255, 0, 0, 0) 490px, rgba(255, 0, 0, 0.05) 490px, rgba(255, 0, 0, 0.05) 550px, rgba(255, 0, 0, 0) 550px, rgba(255, 0, 0, 0) 570px, rgba(255, 0, 0, 0.05) 570px, rgba(255, 0, 0, 0.05) 630px, rgba(255, 0, 0, 0) 630px, rgba(255, 0, 0, 0) 650px, rgba(255, 0, 0, 0.05) 650px, rgba(255, 0, 0, 0.05) 710px, rgba(255, 0, 0, 0) 710px, rgba(255, 0, 0, 0) 730px, rgba(255, 0, 0, 0.05) 730px, rgba(255, 0, 0, 0.05) 790px, rgba(255, 0, 0, 0) 790px, rgba(255, 0, 0, 0) 810px, rgba(255, 0, 0, 0.05) 810px, rgba(255, 0, 0, 0.05) 870px, rgba(255, 0, 0, 0) 870px, rgba(255, 0, 0, 0) 890px, rgba(255, 0, 0, 0.05) 890px, rgba(255, 0, 0, 0.05) 950px, rgba(255, 0, 0, 0) 950px, rgba(255, 0, 0, 0) 970px);
  background-image: linear-gradient(left, rgba(255, 0, 0, 0) 10px, rgba(255, 0, 0, 0.05) 10px, rgba(255, 0, 0, 0.05) 70px, rgba(255, 0, 0, 0) 70px, rgba(255, 0, 0, 0) 90px, rgba(255, 0, 0, 0.05) 90px, rgba(255, 0, 0, 0.05) 150px, rgba(255, 0, 0, 0) 150px, rgba(255, 0, 0, 0) 170px, rgba(255, 0, 0, 0.05) 170px, rgba(255, 0, 0, 0.05) 230px, rgba(255, 0, 0, 0) 230px, rgba(255, 0, 0, 0) 250px, rgba(255, 0, 0, 0.05) 250px, rgba(255, 0, 0, 0.05) 310px, rgba(255, 0, 0, 0) 310px, rgba(255, 0, 0, 0) 330px, rgba(255, 0, 0, 0.05) 330px, rgba(255, 0, 0, 0.05) 390px, rgba(255, 0, 0, 0) 390px, rgba(255, 0, 0, 0) 410px, rgba(255, 0, 0, 0.05) 410px, rgba(255, 0, 0, 0.05) 470px, rgba(255, 0, 0, 0) 470px, rgba(255, 0, 0, 0) 490px, rgba(255, 0, 0, 0.05) 490px, rgba(255, 0, 0, 0.05) 550px, rgba(255, 0, 0, 0) 550px, rgba(255, 0, 0, 0) 570px, rgba(255, 0, 0, 0.05) 570px, rgba(255, 0, 0, 0.05) 630px, rgba(255, 0, 0, 0) 630px, rgba(255, 0, 0, 0) 650px, rgba(255, 0, 0, 0.05) 650px, rgba(255, 0, 0, 0.05) 710px, rgba(255, 0, 0, 0) 710px, rgba(255, 0, 0, 0) 730px, rgba(255, 0, 0, 0.05) 730px, rgba(255, 0, 0, 0.05) 790px, rgba(255, 0, 0, 0) 790px, rgba(255, 0, 0, 0) 810px, rgba(255, 0, 0, 0.05) 810px, rgba(255, 0, 0, 0.05) 870px, rgba(255, 0, 0, 0) 870px, rgba(255, 0, 0, 0) 890px, rgba(255, 0, 0, 0.05) 890px, rgba(255, 0, 0, 0.05) 950px, rgba(255, 0, 0, 0) 950px, rgba(255, 0, 0, 0) 970px);
  background-position: left top;
  position: fixed;
  top: 0;
  left: 50%;
  height: 100%;
  margin: 0 auto;
  margin-left: -480px;
  width: 960px;
}

.toggle-grid {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
  display: block;
  background: url('../images/toggle-grid.png?1313303422') no-repeat right 50%;
  font-size: 12px;
  line-height: 16px;
  padding-right: 22px;
  text-decoration: none;
}
.toggle-grid:hover {
  color: #999999;
}
.toggle-grid .show {
  display: none;
}

body {
  background: white;
}

#branding, #navigation, #page-body, #page-sidebar, #footer-content {
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  transition-duration: 0.75s;
  background: #e7e7e7;
  color: #999999;
  font-size: 13px;
  text-align: center;
}
#branding:hover, #navigation:hover, #page-body:hover, #page-sidebar:hover, #footer-content:hover {
  background: #dddddd;
}

#branding, #navigation {
  line-height: 50px;
}

#page-body, #page-sidebar {
  line-height: 600px;
}

#footer-content {
  line-height: 50px;
}

#header, #page {
  margin-bottom: 20px;
}

#header {
  margin-top: 20px;
}
