@import base
@import style

// Configure grid coordinates
$grid-columns: 12
$grid-width: 60px
$grid-gutter-width: 20px

// @import grid-coordinates
// Route to local gem mixin file for development use only
@import ../../stylesheets/grid-coordinates

+grid-coordinates

+demo-style

.grid-prefix-1, .grid-prefix-margin-1
  text-align: left !important