!!! Strict
%html
  %head
    %title Grid Coordinates - Sample
    %link{:href => "screen.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
  %body
    #header
      #brand
        .content
          %p brand
      #nav
        .content
          %p nav
    #mixins
      .body
        .content
          %p mixins body
      .sidebar
        .content
          %p mixins sidebar
    #extends
      .body
        .content
          %p extends body
      .sidebar
        .content
          %p extends sidebar
    #footer
      .content
        %p footer