!!! Strict
%html
  %head
    %title Grid Coordinates - Example
    %link{:href => "screen.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
  %body
    #header
      %h1 Website Name
      #nav-main
        This is the main navigation
    #page
      #content
        This is the content section
      #sidebar
        This is the sidebar section
    #footer
      This is the footer section