!!! Strict
%html
  %head
    %title Grid Coordinates - Sample
    %link{:href => "screen.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
  %body{:id => body_id, :class => body_class}
    #header
      #brand
        %p brand
      #nav
        %p nav
    #page
      #page-body
        %p page-body
      #page-sidebar
        %p page-sidebar
    #footer
      #footer-body
        %p footer