!!! Strict
%html
  %head
    %title Grid Coordinates - Sample
    %link{:href => "screen.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
  %body{:id => body_id, :class => body_class}
    #header
      #brand
        .content
          %p brand
      #nav
        .content
          %p nav
    #page
      #page-body
        .content
          %p page-body
      #page-sidebar
        .content
          %p page-sidebar
    #footer
      .content
        %p footer