//  Configure grid coordinates
$grid-columns: 12
$grid-pixels: 60px
$grid-gutter-width: 20px

@import path/to/grid-coordinates

#header, #page, #footer
  @include grid-container

#header
  @include grid(4)

#nav
  @include grid(8)

#page-body
  @include grid(8)
  &.wide
    @include grid(12)

#page-sidebar
  @include grid(4)