@import compass/reset
@import compass/utilities

body
  font: bold 14px helvetica, arial, sans-serif
  padding-top: 20px
  
// // Configure grid coordinates
// $grid-columns: 16
// $grid-pixels: 40px
// $grid-gutter-width: 20px
// $overflow-allowed: true

@import grid-coordinates

@include grid-coordinates

#header, #mixins, #footer
  @include grid-container

#extends
  @extend .grid-container

#brand
  @include grid(3)

#nav
  @include grid(9)

#mixins
  .body
    @include grid(8)
    &.wide
      @include grid-full
  .sidebar
    @include grid(4)

#extends
  .body
    @extend .grid-8
    &.wide
      @extend .grid-full
  .sidebar
    @extend .grid-4

#footer .content
  @include grid-full

.common
  background: #444
  color: #fff
  margin-bottom: 20px !important
  text-align: center
  
#brand, #nav, .body, .sidebar, #footer .content
  @extend .common

#brand, #nav, #footer .content
  line-height: 100px

.body, .sidebar
  line-height: 400px