@import compass/reset
@import compass/utilities

body
  font: bold 14px helvetica, arial, sans-serif
  padding-top: 20px
  
// // Configure grid coordinates
// $grid-columns: 16
// $grid-pixels: 40px
// $grid-gutter-width: 20px

@import grid-coordinates

@include grid-coordinates

#header, #page, #footer
  @extend .grid-container

#brand
  @extend .grid-3

#nav
  @extend .grid-9

#page-body
  @extend .grid-8
  &.wide
    @extend .grid-full

#page-sidebar
  @extend .grid-4

#footer .content
  @extend .grid-full

.common
  background: #444
  color: #fff
  margin-bottom: 20px
  text-align: center
  
#brand, #nav, #page-body, #page-sidebar, #footer .content
  @extend .common

#brand, #nav, #footer .content
  line-height: 100px

#page-body, #page-sidebar
  line-height: 400px